



<div class="ram">
    <div class="container bootstrap snippets bootdey">
      <div class="panel-body inf-content">
        <div class="row">
          <div class="col-md-6">
            <ul title="Ratings" class="list-inline ratings text-center">
              <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6" style="align-items: center;justify-content: center;">
                <h2>EMPLOYEE DETAILS</h2>
                <br>
                <strong>
                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                  Employee ID
                </strong>
              </div>
              <div class="col-md-6 text-primar">
                {{ e['EmployeeCode']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-user text-primary"></span>
                  Employee Name
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e["EmployeeName"]}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-cloud text-primary"></span>
                  Email
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                <a style='text-decoration: none;' href="mailto:charumathi.sb@dedalus.eu"> {{ e['Employee_MailId']}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-bookmark text-primary"></span>
                  Location
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{ e['Location']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-eye-open text-primary"></span>
                  Product Group
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{ e?.['WorkGroup']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-envelope text-primary"></span>
                  Product
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{ e['Product']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Unified Roles
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['UnifiedRoles']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  HL Role
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['HLRole']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  HL title
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['HLTitle']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Date of Joining
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['DateOfJoin']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Unit
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['Unit']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Gender
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['Gender']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  HL designation
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['HLTitle']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Reporting Manager
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['ManagerName']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Manager email
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                <div class="col-md-8 text-primary">
                  <a style='text-decoration: none;' href="mailto:charumathi.sb@dedalus.eu">{{e['ManagerMailId']}}</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Work Group
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['ProductGroup']}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Product Work Area
                </strong>
              </div>
              <div class="col-md-6 text-primary">
                {{e['ProductWorkArea']}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  